<h2>Entities Management</h2>

<entity-modify-modal params="showModifyDialog: showModifyDialog, selectedItem: selectedItem, entityPage: entityPage"></entity-modify-modal>
<entity-create-modal params="showDialog: showDialog, entityPage: entityPage"></entity-create-modal>

<div class="form-inline">
    <span>Query:&nbsp;</span>

    <div class="form-group">
        <label class="sr-only" for="exampleInputEmail3">Id</label>
        <input class="form-control" id="exampleInputEmail3" placeholder="Id" data-bind="textInput: queryId">
    </div>
    <div class="form-group">
        <label class="sr-only" for="exampleInputPassword3">Key</label>
        <input class="form-control" id="exampleInputPassword3" placeholder="Key" data-bind="textInput: queryKey">
    </div>
    <button class="btn btn-primary btn-md" data-bind="click: onApplyClick">Execute</button>
    <button class="btn btn-success btn-md pull-right" data-bind="click: onAddClick">Add Records</button>
</div>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Modified</th>
        <th>Key</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody data-bind="foreach: items">
    <tr data-bind="click: $parent.onItemClick">
        <td>
            <span data-bind="text: id"></span>
        </td>
        <td>
            <span data-bind="text: modified"></span>
        </td>
        <td>
            <span data-bind="text: key"></span>
        </td>
        <td>
            <span data-bind="text: value"></span>
        </td>
    </tbody>
</table>