<div class="modal fade" tabindex="-1" role="dialog" data-bind="modal: showModifyDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modify Records</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="inputKey">Key</label>
                    <input id="inputKey" class="form-control" data-bind="textInput: inputKey" placeholder="Key"/>
                </div>
                <div class="form-group">
                    <label for="inputValue">Value</label>
                    <input id="inputValue" class="form-control" data-bind="textInput: inputValue" placeholder="Value"/>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-md btn-block" data-bind="click : onSubmitClick">Submit Changes</button>
                <button class="btn btn-danger btn-md btn-block" data-bind="click : onDeleteClick">Delete Forever</button>
                <button class="btn btn-default btn-md btn-block" data-bind="click : onCancelClick">Cancel</button>
            </div>
        </div>
    </div>
</div>
