<!--
  The navigation UI that is docked to the top of the window. Most of this markup simply
  follows Bootstrap conventions. The only Knockout-specific parts are the data-bind
  attributes on the <li> elements.
-->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Ex Store</a>
        </div>
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li data-bind="css: { active: route().page === 'entity-page' }">
                    <button class="btn btn-success btn-md navbar-btn" onclick="location.href='#entity-page'">
                        Entities Management
                    </button>
                </li>
                <li>
                    <a href="/_ah/api/explorer">GAE API Explorer</a>
                </li>
                <li>
                    <a href="https://console.developers.google.com">GAE Dev Console</a>
                </li>
                <!--<li>-->
                <!--<a href="/_ah/admin">Admin Tool</a>-->
                <!--</li>-->
            </ul>

        </div>
    </div>
</div>
