<div class="modal fade" tabindex="-1" role="dialog" data-bind="modal: showDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Records</h4>
            </div>
            <div class="modal-body">
                <button class="btn btn-default btn-md btn-block" data-bind='click: addLine'>Add Row</button>
                <br/>
                <table width='100%'>
                    <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody data-bind='foreach: lines'>
                    <tr>
                        <td>
                            <input class="form-control" placeholder="Key" data-bind="textInput: inputKey"/>
                        </td>
                        <td>
                            <input class="form-control" placeholder="Value" data-bind="textInput: inputValue"/>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-md pull-right" data-bind='click: $parent.removeLine'>X
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-md btn-block" data-bind="click : submit">Submit
                </button>
            </div>
        </div>
    </div>
</div>
